---
import { getEntries } from "astro:content";
import { reference } from "astro:content";
import { z } from "astro:schema";

type Props = z.infer<typeof props>;

const props = z.object({
	products: z.array(reference("products")),
});

const { products } = Astro.props;

const data = await getEntries(products);
---

<div class="flex flex-row gap-2">
	{
		data.map((product) => (
			<a href={product.data.product.url} class="no-underline">
				<span class="ml-1 rounded-full bg-orange-200 px-2 py-0.5 text-xs text-orange-900">
					{product.data.product.title}
				</span>
			</a>
		))
	}
</div>
